<!DOCTYPE html>
<html>
  <head>
    <title>Potionomics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if defined?(current_user) %>
      <%= render "layouts/navbar" %>
    <% end%>
    <div data-controller="modal" data-modal-allow-background-close="true" class="min-h-screen">
      <main>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div class="w-screen">
          <%= yield %>
          <div class="p-6 pt-12">
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="AELSchauer" data-color="#5F7FFF" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
          </div>
        </div>
        <div
          data-modal-target="container"
          data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
          class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
          style="z-index: 9999;">
          <%= turbo_frame_tag "modal" %>
        </div>
      </main>
    </div>
  </body>
</html>
